---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'ul'> {}
const { class: className, ...props } = Astro.props as Props;
---

<ul
  class:list={[
    'text-muted-foreground flex items-center gap-2 text-xs',
    className,
  ]}
  {...props}
>
  <li class="flex items-center gap-1">
    <span class="bg-raffle-available inline-block size-2.5 rounded"></span>
    <p>Disponible</p>
  </li>
  <li class="flex items-center gap-1">
    <span class="bg-raffle-sold inline-block size-2.5 rounded"></span>
    <p>Vendido</p>
  </li>
  <li class="flex items-center gap-1">
    <span class="bg-raffle-selected inline-block size-2.5 rounded"></span>
    <p>Seleccionado</p>
  </li>
</ul>
