---
import { RaffleDetail } from '@/components/raffle/detail';
import RaffleDetailSkeleton from '@/components/raffle/detail/RaffleDetailSkeleton.astro';
import { RaffleDetailData } from '@/components/raffle/RaffleDetailData';
import AppLayout from '@/layouts/AppLayout.astro';
import { createServerClient } from '@/lib/supabase/server';
import { getNumberLength } from '@/lib/utils';
import Button from '@starwind/button';
import { Card, CardContent, CardHeader, CardTitle } from '@starwind/card';
import Skeleton from '@starwind/skeleton';
import { Icon } from 'astro-icon/components';

if (!Astro.params.id) throw new Error("ID de rifa no proporcionado");

const supabase = createServerClient({ request: Astro.request, cookies: Astro.cookies });
const { data: raffle, error } = await supabase
  .from("raffles")
  .select(`
    *,
    buyers:raffle_buyers(*),
    numbers:raffle_numbers(
      *,
      buyer:raffle_buyers(*)
    )
  `)
  .eq("id", Astro.params.id)
  .single()

if (error || !raffle) {
  console.error("Error fetching raffle data:", error);
  throw new Error("No se pudo cargar la rifa");
}

---

<AppLayout size="6xl">
  <hgroup slot="header">
    <h1 class="text-2xl lg:text-3xl font-extrabold text-primary-foreground mb-1">{raffle.title}</h1>
    <p class="text-primary-foreground/70 text-sm max-w-lg">{raffle.description}</p>
  </hgroup>
  <div class="flex flex-wrap gap-2" slot="header">
    <Button variant="outline-primary" size="sm" disabled>
      <Icon name="lucide:link" />
      Link público
    </Button>
  </div>

  <RaffleDetail
    raffle={raffle}
    client:only="react"
  >
    <RaffleDetailSkeleton
      total_numbers={raffle.total_numbers}
      slot="fallback"
    />
  </RaffleDetail>
</AppLayout>
