@import "tailwindcss";

@theme {
  --color-background: oklch(0.9801 0.0048 84.56);
  --color-foreground: oklch(0.2879 0.0241 264.09);

  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.2879 0.0241 264.09);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.2879 0.0241 264.09);

  --color-primary: oklch(0.6548 0.1085 176.31);
  --color-primary-foreground: oklch(1 0 0);
  --color-secondary: oklch(0.8593 0.154 89.74);
  --color-secondary-foreground: oklch(0.2879 0.0241 264.09);

  --color-muted: oklch(0.9436 0.0078 84.57);
  --color-muted-foreground: oklch(0.5489 0.0261 264.33);
  --color-accent: oklch(0.6869 0.171 38.62);
  --color-accent-foreground: oklch(1 0 0);

  --color-destructive: oklch(0.5786 0.2137 27.17);
  --color-destructive-foreground: oklch(1 0 0);

  --color-border: oklch(0.9133 0.0089 84.57);
  --color-input: oklch(0.9133 0.0089 84.57);
  --color-ring: oklch(0.6548 0.1085 176.31);


  --background-image-hero: linear-gradient(
    135deg,
    oklch(0.6548 0.1085 176.31),
    oklch(0.5377 0.0877 176.53)
  );

  --font-nunito: var(--fontsource-nunito);
}

@layer base {
  * { @apply border-border ring-ring; }
}
