---
import type { HTMLAttributes } from "astro/types";
import Body, { type BodyProps } from "./components/Body.astro";
import { Icon } from 'astro-icon/components'
import { Button } from "@starwind/button";
import { tv, type VariantProps } from "tailwind-variants";
// import { tv, type VariantProps } from "tailwind-variants";

const layout = tv({
  variants: {
    size: {
      "3xl": "max-w-3xl",
      "4xl": "max-w-4xl",
      "5xl": "max-w-5xl",
    }
  },
  defaultVariants: {
    size: "5xl"
  }
})

interface Props extends BodyProps, HTMLAttributes<'main'>, VariantProps<typeof layout> {}
const { title, description, size= "5xl", class: className, ...props } = Astro.props;
---
<Body title={title} description={description} class="min-h-dvh">
  <header class="bg-hero text-primary-foreground px-6 pt-6 pb-14 lg:pb-16 ">
    <div class:list={["mx-auto", layout({ size })]}>
      <div class="flex items-center justify-between mb-4">
        <a class="flex items-center gap-2" href="/dashboard">
          <Icon name="lucide:ticket" class="size-6" />
          <span class="text-lg font-extrabold text-primary-foreground">rifate.app</span>
        </a>

        <Button
          type="button"
          variant="ghost"
          size="sm"
          class:list={[
            "hover:text-primary-foreground hover:bg-primary-foreground/10",
            "rounded-full"
          ]}
        >
          <Icon name="lucide:log-out" class="size-4" />
          Salir
        </Button>
      </div>

      <div class="flex flex-col sm:flex-row sm:items-end sm:justify-between gap-x-4 gap-y-2">
        <slot name="header" />
      </div>
    </div>
  </header>

  <main class:list={["px-4 sm:px-6 -mt-8 mx-auto", layout({ size }), className]} {...props}>
    <slot />
  </main>
</Body>
