---
import Button from '@starwind/button';
import type { HTMLAttributes } from 'astro/types';
import { Icon } from 'astro-icon/components';

import Body, { type BodyProps } from './components/Body.astro';

interface Props extends BodyProps, HTMLAttributes<'main'> {}
const { title, description, class: className, ...props } = Astro.props;
---

<Body title={title} description={description}>
  <header class="flex h-16 items-center px-6">
    <div class="container mx-auto flex max-w-6xl items-center justify-between">
      <a href="/" class="group flex items-center gap-2">
        <span
          class="bg-gradient-hero flex size-9 items-center justify-center rounded-xl"
        >
          <Icon name="lucide:ticket" class="text-primary-foreground size-5" />
        </span>
        <span
          class="text-foreground group-hover:hover:text-primary text-xl font-extrabold tracking-tight transition-colors"
          >rifate.app</span
        >
      </a>

      <nav class="flex items-center gap-3">
        <Button
          href="/dashboard"
          variant="primary"
          class="rounded-full px-6 font-bold"
        >
          Ingresar
        </Button>
      </nav>
    </div>
  </header>

  <main
    class:list={[
      '[&>section]:px-6 [&>section]:py-20',
      '[&>section]:even:bg-red-500',
      className,
    ]}
    {...props}
  >
    <slot />
  </main>
</Body>
