---
import "@/styles/starwind.css";
import type { HTMLAttributes } from "astro/types";
import Body, { type BodyProps } from "./components/Body.astro";

interface Props extends BodyProps, HTMLAttributes<'main'> {}
const { title, description, class: className, ...props } = Astro.props;
---

<Body title={title} description={description}>
  <main class:list={[className]} {...props}>
    <slot />
  </main>
</Body>
