---
import type { HTMLAttributes } from 'astro/types';

import Body, { type BodyProps } from './components/Body.astro';
interface Props extends BodyProps, HTMLAttributes<'main'> {}
const { title, description, class: className, ...props } = Astro.props;
---

<Body title={title} description={description} class="flex min-h-dvh flex-col">
  <header
    class="bg-gradient-hero text-primary-foreground px-6 pt-6 pb-14 lg:pb-16"
  >
    <div
      class="mx-auto flex max-w-4xl flex-col gap-x-4 gap-y-2 sm:flex-row sm:items-end sm:justify-between"
    >
      <slot name="header" />
    </div>
  </header>

  <main
    class:list={[
      'mx-auto -mt-8 w-full max-w-4xl flex-1 px-4 sm:px-6',
      className,
    ]}
    {...props}
  >
    <slot />
  </main>

  <!-- mt-auto -->
  <footer class="mx-auto max-w-4xl py-6 text-center">
    <a
      href="/"
      class="text-foreground/70 hover:text-foreground text-sm font-semibold transition-colors"
    >
      rifate.app
    </a>
  </footer>
</Body>
